@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-UltraLight.ttf");
  font-weight: 100;
}
