@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

body {
  font-family: "Gilroy", sans-serif;
  overflow-x: hidden;
}

input {
  outline: none !important;
}

.menu_container::-webkit-scrollbar {
  width: 4px;
}
.menu_container::-webkit-scrollbar-track {
  background: #0060e3;
}
.menu_container::-webkit-scrollbar-thumb {
  background: #97acff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.menu_container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.dropdown::-webkit-scrollbar {
  width: 6px !important;
}
.dropdown::-webkit-scrollbar-track {
  background: #c4dcff;
}
.dropdown::-webkit-scrollbar-thumb {
  background: #7b95ff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.dropdown::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

svg {
  /* font-size: 24px; */
}

.tox-statusbar {
  display: none !important;
}

.resizer {
  cursor: grab;
  border: none;
  outline: none;
  background: transparent;
}

.resizer::-webkit-resizer {
  border-left: 4px solid black;
  background: transparent;
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.1);
  outline: none;
  cursor: grab;
}
